.container_landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 90vh;
  background-color: #303030;
  img {
    background-color: rgba(255, 255, 255, 0.739);
    padding: 50px;
    width: 100%;
  }
  h1 {
    position: absolute;
    right: 80px;
    top: 154.5px;
    letter-spacing: 15px;
    margin-top: 25px;
    font-size: 50px;
    padding: 25px;
    border-radius: 5px;
    text-decoration: underline 9px #f8c6c4;
  }
}
