.navbar {
  background-color: rgba(36, 36, 36, 0.964);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      cursor: pointer;
      color: white;
      background-color: hsla(0, 0%, 43%, 0.468);
      padding: 6.5px;
      margin-right: 8px;
      border-radius: 5px;
      a {
        display: flex;
        justify-content: center;
        color: white;
        text-decoration: none;
        width: 100%;
      }
    }
    .itemNav {
      transition: 0.3s;
      &:hover {
        background-color: #bdbdbd;
        transform: scale(1.05);

        a {
          color: black;
          font-weight: 600;
        }
      }
    }
    .container_dropdown {
      display: flex;
      align-items: center;
      transition: 0.3s;

      svg {
        margin-left: 3px;
        width: 10px;
        fill: rgb(255, 255, 255);
      }
      &:hover {
        background-color: #bdbdbd;
        color: black;

        svg {
          fill: black;
        }
      }
    }
    .dropdown {
      flex-direction: column;
      position: absolute;
      bottom: -187px;
      z-index: 99;
      background-color: transparent;
      display: none;
      li {
        background-color: hsl(0, 0%, 43%);
        width: 150px;
        display: flex;
        justify-content: center;
        border-bottom: 3px solid grey;
        &:hover {
          transform: scale(1);
          background-color: #bdbdbd;
          a {
            color: black;
            font-weight: 600;
          }
        }
      }
    }
    .dropdown.showDrop {
      display: flex;
    }
  }
}
