.container_projects {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #303030;
  height: 95vh;
  h2 {
    color: white;
  }
  h3 {
    color: white;
  }
  .newbies_projects,
  .junior_projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    list-style: none;
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.container_previewProject {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 450px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.688);
  box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.503);
  transition: 0.5s;
  &:hover {
    transform: scale(1.03);
  }
  img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  .info_project {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;

    div {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .tecnologies {
        padding: 0;
        display: flex;
        list-style: none;

        li {
          margin-right: 15px;
        }
      }
    }

    h4 {
      font-size: 19px;
      margin-bottom: 30px;
    }
  }
}
