.container_projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #303030;
  height: auto;
  padding-top: 20px;
  padding-bottom: 30px;
  h2 {
    color: white;
    border: 3px solid #f8c6c4;
    padding: 10px;
    margin-bottom: 15px;
  }
  h3 {
    color: white;
  }
  .newbies_projects,
  .junior_projects,
  .intermediate_projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    list-style: none;
    padding: 0;
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.container_previewProject {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 500px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.688);
  box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.503);
  transition: 0.5s;
  &:hover {
    transform: scale(1.03);
  }
  img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  .info_project {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;

    div {
      display: flex;
      justify-content: space-around;
      width: 100%;
      align-items: center;
      margin-bottom: 20px;
      .tecnologies {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        height: 22px;

        li {
          margin-right: 10px;
          height: 22px;
        }
      }
    }
    .previewNewbie,
    .previewJunior,
    .previewIntermediate,
    .previewAdvanced {
      .tecnologies {
        li {
          font-weight: 600;
        }
      }
      p {
        background-color: #4c8d99;
        padding: 3px;
        font-weight: 600;
        border-radius: 5px;
        text-align: center;
        font-size: 18px;
        color: white;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 0;
        span {
          align-self: flex-end;
          margin-left: 5px;
          padding: 3.5px 2px 0 2px;
          background-color: rgb(193, 193, 193);
          font-size: 15px;
          border-radius: 5px;
          color: #4c8d99;
        }
      }
    }
    .previewJunior {
      p {
        background-color: #6e8c26;
        span {
          color: #6e8c26;
        }
      }
    }

    .previewHTML {
      color: #488691;
    }
    .previewCSS {
      color: #3e54a3;
    }
    .previewJS {
      color: #ac5476;
    }
    .previewAPI {
      color: #6e8c26;
    }

    h4 {
      font-size: 20px;
      margin-bottom: 30px;
    }
    p {
      text-align: center;
    }
  }
}
@media screen and (max-width: 500px) {
  .container_projects {
    height: auto;
    .newbies_projects,
    .junior_projects {
      grid-template-columns: 1fr;
    }
  }
}
