@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600;800;900&display=swap");
/*
font-family: 'Raleway', sans-serif;
*/
* {
  font-family: "Raleway", sans-serif;
}
@import "landing";
@import "navbar";
@import "projects";
@import "about";
//Newbie
@import "./newbie/productPreviewCardComponent";
@import "./newbie/orderSummaryComponent";
@import "./newbie/interactiveRatingComponent";
//Junior
@import "./junior/tipCalculatorApp";
@import "./junior/adviceGeneratorApp";
@import "./junior/interactiveCardDetail";

html {
  background-color: #303030;
}

.container_guru,
.container_advanced,
.container_intermediate,
.container_junior {
  background-color: #303030;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  h2,
  h3 {
    color: white;
  }
}
